@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary;
  }

  .btn-primary {
    @apply bg-primary text-white px-5 py-2 rounded-lg hover:bg-secondary transition;
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}